[Desktop Entry]
Type=Application
Name=Audiobook
Comment=Listen to audiobooks with save/resume position and a sleep timer
Exec=/bin/hamaudiobook
Icon=multimedia-audio-player
Categories=AudioVideo;Audio;Player;
