[Desktop Entry]
Type=Application
Name=Calculator
Comment=Perform calculations
Exec=/bin/hamcalcscene
Icon=accessories-calculator
Categories=Utility;Calculator;
