[Desktop Entry]
Type=Application
Name=Text Editor
Comment=Edit text files
Exec=/bin/hameditscene
Icon=accessories-text-editor
Categories=Utility;TextEditor;
