[Desktop Entry]
Type=Application
Name=Software
Comment=Browse, search, install, remove and upgrade software packages (hpm front-end)
Exec=/bin/hamsoftware
Icon=system-installer
Categories=System;Administration;
