[Desktop Entry]
Type=Application
Name=Package Manager
Comment=Browse, search, install and remove software packages (hpm front-end)
Exec=/bin/hampkgscene
Icon=system-installer
Categories=System;Settings;
