[Desktop Entry]
Type=Application
Name=System Monitor
Comment=View system resource usage
Exec=/bin/hammonscene
Icon=utilities-system-monitor
Categories=System;Monitor;
