[Desktop Entry]
Type=Application
Name=Terminal
Comment=Command-line terminal
Exec=/bin/hamtermscene
Icon=terminal
Categories=System;TerminalEmulator;
