[Desktop Entry]
Type=Application
Name=Video Player
Comment=Play a Motion-JPEG .hmjv clip in a window
Exec=/bin/hamvideoscene
Icon=multimedia-video-player
Categories=AudioVideo;Video;Player;
