[Desktop Entry]
Type=Application
Name=Audio Player
Comment=Play a .wav clip through the HDA audio sink
Exec=/bin/hamaudioscene
Icon=multimedia-audio-player
Categories=AudioVideo;Audio;Player;
