[Desktop Entry]
Type=Application
Name=Calendar
Comment=View a monthly calendar
Exec=/bin/hamcalscene
Icon=office-calendar
Categories=Office;Calendar;
