[Desktop Entry]
Type=Application
Name=Control Center
Comment=Configure the system: appearance, date & time, about
Exec=/bin/hamctl
Icon=preferences-system
Categories=Settings;System;
