[Desktop Entry]
Type=Application
Name=Files
Comment=Browse files and folders
Exec=/bin/hamfmscene
Icon=system-file-manager
Categories=Utility;FileManager;
