[Desktop Entry]
Type=Application
Name=Chess (hamGame)
Comment=Chess board game on the hamGame/SDL Surface layer
Exec=/bin/hamgamechess
Icon=hamgamechess
Categories=Game;
