[Desktop Entry]
Type=Application
Name=Snake (hamGame)
Comment=Grid Snake on the hamGame/SDL Surface layer
Exec=/bin/hamgamesnake
Icon=hamgamesnake
Categories=Game;
