[Desktop Entry]
Type=Application
Name=Minesweeper
Comment=Uncover the field without hitting a mine
Exec=/bin/hamminescene
Icon=hammine
Categories=Game;
