[Desktop Entry]
Type=Application
Name=Tetris
Comment=Stack the falling tetrominoes and clear lines
Exec=/bin/hamtetrisscene
Icon=hamtetris
Categories=Game;
