[Desktop Entry]
Type=Application
Name=Install Hamnix
Comment=Install Hamnix to a disk
Exec=/bin/haminstallui
Icon=system-installer
Categories=System;
X-Hamnix-LiveOnly=true
