[Desktop Entry]
Type=Application
Name=Notes
Comment=Quick sticky-note scratchpad
Exec=/bin/hamnotesscene
Icon=accessories-notes
Categories=Accessories;Utility;
