[Desktop Entry]
Type=Application
Name=Screenshot
Comment=Capture the whole desktop, a selected area, or an application window to a PNG in your home folder
Exec=/bin/hamshotui
Icon=applets-screenshooter
Categories=Utility;
