[Desktop Entry]
Type=Application
Name=Screenshot
Comment=Capture the screen to a timestamped PNG in your home folder
Exec=/bin/hamshot
Icon=applets-screenshooter
Categories=Utility;
